<div class="row">
    <div class="col-md-6">
        <h2>Signup</h2>
        {{!-- grabs input in public/js/login.js file to handle signup form (signupFormHandler) with a POST request --}}
        <form class="form signup-form">
            {{!-- <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div> --}}
            <div class="form-group">
                <label for="username-signup">username:</label>
                <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>
{{!-- both login and signup elements grabbed in ..js/login.js --}}
{{!-- now just signup elements grabbed from <div class="">
    <js>
        <signup></signup> --}}
        <script src="./js/signin.js"></script>
</div>